# Standard packages
pandas
requests
python-dotenv
weasyprint
qdrant-client
sec-downloader
transformers
colpali_engine
numpy
pdf2image
celery
fastapi
uvicorn
# qwen-vl-utils
# anthropic 
# groq
# openai

# PyTorch packages
--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.4.1 
torchvision==0.19.1 
torchaudio==2.4.1 